* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #bdd3eb;
}

h1 {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 15px;
}

input[type="text"], button {
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

button.btnBuscar {
    background-color: #3a90f3;
    color: #fff;
    border: 1px solid #3a90f3;
}

button.btnBuscar:hover {
    cursor: pointer;
    background-color: #58a6ff;
    border: 1px solid #58a6ff;
}

hr {
    color: darkblue;
    height: 2px;
    margin-bottom: 15px;
}

.warning {
    text-align: center;
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.resultado {
    text-align: center;
    font-weight: bold;
}

.pelicula__section {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
    height: 500px;
    padding: 30px;
}

.pelicula__section > .datos,
.pelicula + div {
    align-self: flex-start;
}

.datos {
    width: 300px;
}

.nombre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nombre:first-of-type > p:first-of-type {
    margin-left: 80px;
}

.nombre:first-of-type > p:nth-of-type(2) {
    margin-left: 50px;
    font-weight: bold;
}

.nombre:nth-of-type(2) > p:nth-of-type(2) {
    font-weight: bold;
}

.pelicula {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pelicula > img {
    display: block;
    width: 300px;
}

.pelicula + div > p:first-of-type {
    text-align: center;
    font-weight: bold;
}

.pelicula + div {
    width: 300px;
}

.resena {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.pelicula + div > p:first-of-type {
    margin-bottom: 30px;
}

footer {
    padding: 30px;
    text-align: center;
}

.actores {
    font-weight: bold;
}